<a href="#">Link 1</a>
<a href="#">Link 2</a>
<a href="#">Link 3</a>

<script>
  // Given array of elements (links)
  let givenArray = undefined;

  // When dom is ready execute main logic
  window.addEventListener('load', () => {
    // Get js array form NodeList of link nodes.
    // NOTE: this is the only bottleneck, at load the code has to process all
    // elements and convert them to an array. We need an array for the
    // indexOf() function. In other words we literally have to index our nodes.
    givenArray = Array.from(document.querySelectorAll('a').values());

    // Add event listener to global container for performance.
    document.addEventListener('click', clickHandler)
  });

  // Event handler
  function clickHandler(e) {
    // Get index of the element.
    let index = givenArray.indexOf(e.target);
    // If clicked element is noi in our givenArray skip.
    if (index === -1) {
      return;
    }
    // Else stop propagation and show popup.
    e.stopPropagation();
    alert(index);
  };
</script>
