<h1>Access Control System Plan</h1>
<ul>
  <li>SPA contains <i>AccessControlList</i> class that holds a list of <i>Permission</i> classes</li>
  <li><i>AccessControlList</i> is a singleton that should be instantiated when the SPA initializes.</li> 
  <li><i>AccessControlList</i> should be instantiated with a list of <i>Rules</i> that define what role can perform what actions.</i>
  <li>Action is conisdered any string. A permision is consider a pair of role and action. Examples: <pre>{'buyer', 'canBuyProduct'}</pre><pre>{'admin', 'canChangeUserPassword'}</pre></li>
  <li><i>Api</i> class, <i>Model</i> classes, <i>Route</i> classes and others can use ACL as they see fit to perform permission checks.</li>
  <li><b>The ACL in SPA is only a User Experience concern, additional access controll shoupd be performed on the server!</b></li>
  <li>Server side ACL can be implemented in similar fashion. From the system security perspective it is vital that server side security checks are performed on all api calls.</li>
</ul>

<h1>UML</h1>
<img src="./task6_uml.jpg"/>

<h1>Class drafts</h1>
<pre>
  'use strict';

  /** Class representing View from MVC */
  class View {
    /**
     * Construtor. 
     * @param {string} template - A html template.
     */
    construct(template) {}
    /**
     * Renders html on screen replacing placeholders from template with data.
     * @param {Object[]} data - Array of key-value pairs used in template.
     */
    render(data) {}
  }

  /** 
   * A MVC Controller responsible for showing the login page as well as logging
   * in users.
   */
  class LoginController {
    /**
     * Shows the login form.
     */
    loginForm() {}
    /**
     * Performs login action for the user and redirects to Catalog Controller.
     * @param {string} user - User name.
     * @param {string} password - User password.
     */
    login(user, password) {}
  }

  /** MVC Controller to be displayed after login, shows all products. */
  class CatalogController {
    /**
     * Renders list of all products to explore.
     */
    list() {}
  }

  /** Controller responsible for a single product actions */
  class ProductController {
    /**
     * Shows detailed information about a product.
     * @param {number} id - Id of the product.
     */
    details(id) {}
    /**
     * Performs buy action.
     * @param {number} id - Id of the product.
     * @param {number} amount - Amount of product.
     */
    buy(id, amount) {}
    /**
     * Performs sell action.
     * @param {number} id - Id of the product.
     * @param {number} amount - Amount of product.
     */
    sell(id, amount) {}
    /**
     * Performs add action.
     * @param {Object} data - Simple Key-value data to create a new Product.
     */
    add(data) {}
  }

  /** Controller only for admins. */
  class AdminController {
    /**
     * Lists all users.
     */
    listUsers() {}
    /**
     * Shows details about specific user.
     * @params {number} id - User id.
     */
    userDetails(id) {}
    /**
     * Updates user name.
     * @params {number} id - User id.
     * @params {stirng} name - User name.
     */
    updateUserName(id, name) {}
    /**
     * Updates user password.
     * @params {number} id - User id.
     * @params {stirng} password - User password.
     */
    updateUserPassword(id, password) {}
    /**
     * Updates user role.
     * @params {number} id - User id.
     * @params {stirng} role - User role.
     */
    updateUserRole(id, role) {}
  }

  /** Class representing a single user, Model from MVC.  */
  class User {
    /**
     * Construtor.
     * @param {number} id - User id. If id is no null user data will be
     *   downloaded from API. Id = null represents guest/unauthenticated user.
     */
    constructor(id = null) {}
    /**
     * Performs login action against API.
     * @params {stirng} name - User name (login).
     * @params {stirng} password - User password.
     */
    login(name, password) {}
    /**
     * Sets id to null, deletes name, password and role.
     */
    logout() {}
    /**
     * Updates name in this object and API.
     * @param {string} name - New user name.
     */
    updateName(name) {}
    /**
     * Updates password in this object and API. Uses hashing algorithm.
     * @param {string} password - New user password.
     */
    updatePassword(password) {}
    /**
     * Updates role in this object and API.
     * @param {string} role - New user role.
     */
    updateRole(role) {}
  }

  /** MVC MOdel class representing single product. */
  class Product {
    /**
     * Construtor.
     * @param {number} id - Product id. If id is no null user data will be
     *   downloaded from API. Id = null represents new product.
     */
    constructor(id = null) {}
    /**
     * Updates amount in this object and API.
     * @param {number} amount
     */
    updateAmount(amount) {}
    /**
     * Updates name in this object and API.
     * @param {string} name
     */
    updateName(name) {}
    /**
     * Updates price in this object and API.
     * @param {string} price
     */
    updatePrice(price) {}
    /**
     * Updates seller in this object and API.
     * @param {User} seller - Seller selling this product
     */
    updateSeller(user) {}
  }

  /** Helper class used by Router. Represents a single route. */
  class Route {
    /**
     * Construtor.
     * @param {callback} condition - A condition function, when returns true
     *   the action callback will be executed.
     * @param {callback} action - Action function is executed by Router when
     *   when condition function returend true.
     */
    constructor(condition, action) {}
  }

  /** Helper class responsible for matching and executing routes based on given url. */
  class Router {
    /**
     * Constructor.
     * @param {Route[]} routes - Array of Route objects.
     */
    constructor(routes) {}
    /**
     * Find matching route based on url, and execute it.
     * @param {string} url - The url to be executed. If null current url will be
     *   used.
     */
    route(url = null) {}
  }

  /** Helper class representing single permission for given role. */
  class Permission {
    /**
     * Construtor.
     * @param {string} role - Name of the role.
     * @param {string} action - Name of the action.
     */
    construtor(role, action) {}
  }

  /** Singleton helper class reposnible for holding access information */
  class AccessControlList {
    /**
     * Constructor.
     * @param {Permission[]} permissions - Array of permissions.
     */
    constructr(permissions) {}
    /**
     * Checks if given role can perform given action.
     * @param {string} role - Name of the role.
     * @param {string} action - Name of the action.
     * @return {boolean} Returns true if role can perform action otherwise
     *   returns false.
     */
    can(role, action) {}
  }

  /** Helper class representing server API */
  class Api {
    /**
     * Construtor.
     * @param {string} url - Api endpoint.
     */
    construtor(url) {}
    /**
     * Performs request to the api. Internally uses AccessControl List
     * @param {string} method - Api method to perform.
     * @param {Object} args - Key-value arguments for the method.
     */
    request(method, args) {}
  }

  /** Helper class for recording all transactions */
  class Transactions {
    /**
     * Using Api to record transaction.
     * @param {User} user - User who performed transaction.
     * @param {Product} product - Product on which the transaction was performed.
     * @param {string} type - Type of transaction.
     * @param {Object} params - Key-value transaction patameters.
     */
    record(user, product, type, params) {}
  }

  /**
   * Helper class implementing Payment process with interchangable
   * payment providers.
   */
  class PaymentStrategy {
    /**
     * Sets provider.
     * @param {Object} provider - Provider to be used. Must implement
     *  pay() method.
     */
    setProvider(provider) {}
    /**
     * Perform payment process on currently set provider.
     */
    performPayment() {}
  }

  /**
   * Helper class implementing Paypal payment process. Should not be used
   * directly. Rather use PaymentStrategy.
   */
  class PaypalProvider {
    /**
     * Implementation of payment process for paypal.
     */
    pay() {}
  }

</pre>

