Copy below code and paste it in developer tools console on this website:
<a href="https://www.instagram.com/explore/locations/496671266/binckbank-nv/">binck</a>

<pre>
  // Get Array of images.
  let images = Array.from(document.querySelectorAll('img').values());
  let index = 0;
  // Reduce images to array of title+index => url
  images = images.reduce((sum, element) => {
    let title = element.className;
    let url = element.src;
    sum[title+index] = url;
    index++;
    return sum;
  }, {});
  console.log('Listing all images:');
  console.log(images);
</pre>
